@font-face{
	font-family:sourcesans-light;

	
	src:url(../fuentes/sourcesans/SourceSansPro-Light.ttf);
}
@font-face{
	font-family:sourcesans-Regular;

	src:url(../fuentes/sourcesans/SourceSansPro-Regular.ttf);
	
}

