@import url('reset.css');
@import url('fuentes.css');


/*-----Estilos Generales-----*/

body{
	background: #E6DFE0;
	font-family: Arial, Helvetica,Sans-serif;
}

a{	text-decoration: none;color: white;
}

#content{
	width: 1170px;
	margin: auto;
	clear: both;
}

a:hover{text-decoration: none;}


/*-----Header-----*/

header #subheader nav{
	float: left;
	width: 920px;
	padding: 5px 0px;
	text-align:right; 

}
header{
	width: 100%;
	float: left;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e4e0e0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e4e0e0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#e4e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e0e0',GradientType=0 );
	box-shadow: 0px 3px 5px #000;
		-moz-box-shadow: 0px 3px 5px #000;
		-webkit-box-shadow: 0px 3px 5px #000;
}

#subheader
{
	width: 960px;
	margin: auto;
}

#logotipo{
	width: 250px;    
	float: left;
	

}
.logo{

	font-size: 35px;
	color: #2C38B3;
	text-shadow: 0px 2px 2px white-space;
		-moz-text-shadow: 0px 1px 2px #0D1A99;
		-webkit-text-shadow: 0px 1px 2px #0D1A99;

	font-family:sourcesans-light, sans-serif;

}
#logotipo p{
	padding-top: 60px;
	margin-left: 100px;
	float: left;
		
}


#info_cont{
	width: 400px;
	
	line-height: 1.2em;
	float: right;	
	
} 	

#info_cont p{
	font-family:sourcesans-Regular, sans-serif;
	font-size: 30px;
	padding-top: 30px;	

} 

header div div a{
	font-family:sourcesans-Regular, sans-serif;
	color: #000;
	font-size: 30px;
	float:right;
}

header div div .thumb{
	margin-top: -40px;
	margin-left: -50px;
	position: absolute;
	width: 250px;
	height: 220px;
}


/*-----menu-----*/
header #subheader nav ul li{
	display: inline;
	font-family:sourcesans-light, sans-serif;
	font-weight: bold;
}

header div div p{
	color:#000;
	float: right;
	font-size: 20px;
}

header #subheader nav ul li a{
	color: #696767;
	font-size: 20px;
	padding: 10px;
	border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
}

header #subheader nav ul li a:hover{
	color: #fff;
	background: #A2C7CE;
	text-decoration:none; 

}


/*-----main-----*/

#main{
	width: 67%;
	margin: 0px 0px 0px 0px;
	margin-left: 70px;
	float: left;
}

/*-----Slideshow-----*/

#slideshow{
	width: 640px;
	height: 400px;
	float: left;
	margin-top: 10px;
	margin-left: 50px;
	
}


.slidesjs-next.slidesjs-navigation {
 visibility: hidden;
 color: white;
 padding: 5px;
}

.slidesjs-previous.slidesjs-navigation {
 visibility: hidden;
 color: white;
 padding: 5px;
}

.slidesjs-pagination {
 margin: 2px auto;
 width: 220px;
}

.slidesjs-pagination li {
 float: left;
 margin: 0px 5px;
 list-style: none;
 background-color: white;
 border-radius: 6px;
}

.slidesjs-pagination li a {
 display: block;
 width: 12px;
 height: 0px;
 padding-top: 12px;
 float: left;
 overflow: hidden;
 border-radius: 6px;
}

.slidesjs-pagination li .active {
 background-color: #1798af;
}

#slideshow img {
 width: 640;
 height: 400px;
}

#slideshow ul .slidesjs-pagination{
	margin: 26px 0px;
	width: 100px;
}

#slideshow ul .slidesjs-pagination li {
	float: left;
	margin: 0px 5px;
	list-style: none;
}

#slideshow ul .slidesjs-pagination a{
	display: block;
	width: 12px;
	height: 0px;
	padding-top: 12px;
	background: #fff;
	float: left;
	overflow: hidden;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}

/*-----welcome-----*/

#welcome{
	width: 600px;
	float: left;
	padding: 10px;
	margin: 40px 20px;
	background: rgb(70,121,58); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(70,121,58,1) 0%, rgba(45,76,30,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(70,121,58,1) 0%,rgba(45,76,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(70,121,58,1) 0%,rgba(45,76,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46793a', endColorstr='#2d4c1e',GradientType=0 ); 
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 0px 2px 2px #000;
		-moz-box-shadow: 0px 2px 2px #000;
		-webkit-box-shadow: 0px 2px 2px #000;
	
}
#welcome article h3{
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-size: 35px;
	margin-bottom: 5px;
}

#welcome article{
	color: #fff;
}


/*-----Sidebar-----*/

.sidebar{
	width: 310px;
	float: left;
}

/*-----Request call form-----*/
div section h1 {
	margin-top: 10px;
	padding-left: 50px;
	font-weight: bold;
	font-family:sourcesans-regular, sans-serif;
	font-weight: bold;
   	font-size: 25px;
	color: #2C38B3;
	text-align: left;
}

fieldset {
    padding: 30px;
    margin:0;
    border: 0;
    min-width: 0;
}
fieldset {
	background: #F7F3F2;
    margin: 0 2px;
        margin-top: 10px;
        margin-right: 2px;
        margin-bottom: 0px;
        margin-left: 2px;
    padding: 0.35em 0.625em 0.75em;
        padding-top: 0.35em;
        padding-right: 0.625em;
        padding-bottom: 0.75em;
        padding-left: 0.625em;
    border-radius: 5px;
    	-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}

label, strong {
    font-weight: 600;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}



}
.has-error .form-control {
    border-color: #a94442;
        border-top-color: rgb(169, 68, 66);
        border-right-color: rgb(169, 68, 66);
        border-bottom-color: rgb(169, 68, 66);
        border-left-color: rgb(169, 68, 66);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
div.control-group textarea {
    height: 100px;
}
textarea.form-control {
    height: auto;
}

.form-control {
    display: block;
    width: 90%;
    height: 34px;
    color: #fff;
    margin-left: 10px;
    padding: 6px 12px;
        padding-top: 6px;
        padding-right: 12px;
        padding-bottom: 6px;
        padding-left: 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: rgb(204, 204, 204);
        border-right-color: rgb(204, 204, 204);
        border-bottom-color: rgb(204, 204, 204);
        border-left-color: rgb(204, 204, 204);
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition-property: border-color, box-shadow;
        transition-duration: 0.15s, 0.15s;
        transition-timing-function: ease-in-out, ease-in-out;
        transition-delay: 0s, 0s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition-property: border-color, box-shadow;
        transition-duration: 0.15s, 0.15s;
        transition-timing-function: ease-in-out, ease-in-out;
        transition-delay: 0s, 0s;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        font-size-adjust: inherit;
        font-stretch: inherit;
        -x-system-font: none;
        font-feature-settings: inherit;
        font-language-override: inherit;
        font-kerning: inherit;
        font-synthesis: inherit;
        font-variant-alternates: inherit;
        font-variant-caps: inherit;
        font-variant-east-asian: inherit;
        font-variant-ligatures: inherit;
        font-variant-numeric: inherit;
        font-variant-position: inherit;
    margin: 0px;
}

* {
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
    box-sizing: border-box;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
        border-top-color: rgb(32, 77, 116);
        border-right-color: rgb(32, 77, 116);
        border-bottom-color: rgb(32, 77, 116);
        border-left-color: rgb(32, 77, 116);
}
.btn:hover, .btn:focus, .btn.focus {
    color: #333333;
    text-decoration: none;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
}
.btn-primary {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
        border-top-color: rgb(46, 109, 164);
        border-right-color: rgb(46, 109, 164);
        border-bottom-color: rgb(46, 109, 164);
        border-left-color: rgb(46, 109, 164);
}
.btn {
    display: inline-block;
    margin: 10px 0px 0px 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    white-space: nowrap;
    padding: 6px 12px;
        padding-top: 6px;
        padding-right: 12px;
        padding-bottom: 6px;
        padding-left: 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    -webkit-user-select: none;
        -moz-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
        overflow-x: visible;
        overflow-y: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        font-size-adjust: inherit;
        font-stretch: inherit;
        -x-system-font: none;
        font-feature-settings: inherit;
        font-language-override: inherit;
        font-kerning: inherit;
        font-synthesis: inherit;
        font-variant-alternates: inherit;
        font-variant-caps: inherit;
        font-variant-east-asian: inherit;
        font-variant-ligatures: inherit;
        font-variant-numeric: inherit;
        font-variant-position: inherit;
    margin: 0;
}



/**/


/*-----Satisfation-----*/

#satisfaction{
	width: 310px;
	float: right;
	margin-top: 40px;
	margin-bottom: 30px;
	background: #F7F3F2;
	border-radius: 5px;
    	-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}

#parrafo_satis{
	width: 200px;
	float: left;
	padding: 10px;
}
#satisfaction div img {
	padding-top: 50px;
}



/*-----request-----*/


/*-----quote bottom-----*/
#quote{
	width: 90px;
	height: 70px;
	background: white;


	border-radius: 30px;
		-moz-border-radius: 30px;
		-webkit-border-radius: 30px;
	box-shadow: 5px 5px 5px #000;
		-moz-box-shadow: 5px 5px 5px #000;
		-webkit-box-shadow: 5px 5px 5px #000;
	cursor: pointer;
	position: fixed;
	margin-left:30px;
	bottom: 275px;

}
div hgroup h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: #0D1A99;
    padding-left: 20px;
    font-size: 20px;
    

}

.thumbquote{
	width: 140px;
	height: 150px;

	cursor: pointer;
	position: fixed;
	margin-left:-30px;
	bottom: 120px;

}
/*-----Service bar-----*/

#service{
	margin-top: 30px;
	margin-left: 80px;
	width: 640px;
	display: inline-block;
	float: left;
	
}
#service div{
	float: left;
	padding: 10px;
	padding-left:10px; 
	text-decoration:none; 
}
#service #service_box article hgroup h1{
	font-size: 16px;
    font-weight: bold;
    color: black;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 20px;
}
#service div article hgroup p{
	text-align:center;
}
#service .thumb{

	width: 120px;
	height: 120px;
	border-radius: 75px;
}


/*-----Footer-----*/
footer #firtfooter{
    margin-top: 80px;
    margin-left: 200px;
    padding-bottom: 10px;
    float: left;
    width: 740px;
    background: #D3D5D6; 
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz- border-radius: 10px;
    box-shadow: 0px 3px 5px #9FA0A0;
        -moz-box-shadow: 0px 3px 5px #9FA0A0;
        -webkit-box-shadow: 0px 3px 5px #9FA0A0; 
}

footer #about{
    padding-left: 10px;
    width: 50%;
    float: left;


}
footer #about hgroup h2{

    padding-left: 50px;
    font-weight: bold;
    font-family:sourcesans-regular, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #2C38B3;
    text-align: left;
}

footer #about > p{
    font-size: 16px;
    font-family:sourcesans-regular, sans-serif;
    color: #292A2A;


}

footer #about p p{
    font-size: 24px;
    font-family:sourcesans-regular, sans-serif;
    color: #080808;


}

footer #about a{
   
    color: #2C38B3;
    text-decoration:none;

}

footer #social-m{
    width: 50%;
    padding-top: 80px;
    padding-left: 40px;
    float: left;
}
.thumbft{
    width: 50px;
    height: 50px;
}

footer #email{
    padding-left: 10px;
    width: 33.3%;
    float: left;

}


footer #facebook{
    padding-left: 10px;
    width: 33.3%;
    float: left;

}

footer #google{
    width: 33.3%;
    float: left;

}
footer #copyright{
    width: 100%;
    float: left;
    clear: both;
    box-shadow: 0px 2px 2px #000;
        -moz-box-shadow: 0px 2px 2px #000;
        -webkit-box-shadow: 0px 2px 2px #000;
    border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    background: green;
    margin-top: 30px;
}
