@import url('reset.css');
@import url('fuentes.css');


/*-----Estilos Generales-----*/

body{
    background: #E6DFE0;
    font-family: Arial, Helvetica,Sans-serif;
}

a{  text-decoration: none;color: white;
}

#content{
    width: 1170px;
    margin: auto;
    clear: both;
}

a:hover{text-decoration: none;}


/*-----Header-----*/

header #subheader nav{
    float: left;
    width: 920px;
    padding: 5px 0px;
    text-align:right; 

}
header{
    width: 100%;
    float: left;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e4e0e0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e4e0e0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e4e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e0e0',GradientType=0 );
    box-shadow: 0px 3px 5px #000;
        -moz-box-shadow: 0px 3px 5px #000;
        -webkit-box-shadow: 0px 3px 5px #000;
}

#subheader
{
    width: 960px;
    margin: auto;
}

#logotipo{
    width: 250px;    
    float: left;
    

}
.logo{

    font-size: 35px;
    color: #2C38B3;
    text-shadow: 0px 2px 2px white-space;
        -moz-text-shadow: 0px 1px 2px #0D1A99;
        -webkit-text-shadow: 0px 1px 2px #0D1A99;

    font-family:sourcesans-light, sans-serif;

}
#logotipo p{
    padding-top: 60px;
    margin-left: 100px;
    float: left;
        
}


#info_cont{
    width: 400px;
    
    line-height: 1.2em;
    float: right;   
    
}   

#info_cont p{
    font-family:sourcesans-Regular, sans-serif;
    font-size: 30px;
    padding-top: 30px;  

} 

header div div a{
    font-family:sourcesans-Regular, sans-serif;
    color: #000;
    font-size: 30px;
    float:right;
}

header div div .thumb{
    margin-top: -40px;
    margin-left: -50px;
    position: absolute;
    width: 250px;
    height: 220px;
}


/*-----menu-----*/
header #subheader nav ul li{
    display: inline;
    font-family:sourcesans-light, sans-serif;
    font-weight: bold;
}

header div div p{
    color:#000;
    float: right;
    font-size: 20px;
}

header #subheader nav ul li a{
    color: #696767;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
}

header #subheader nav ul li a:hover{
    color: #fff;
    background: #A2C7CE;
    text-decoration:none; 

}


/*-----main-----*/

#main{
    width: 80%;
    margin: 30px 0px 0px 200px;
   
    float: left;
}

#contact {
    width: 600px;
    float: left;
    

}


/*-----Request call form-----*/
#contact hgroup h1 {
	margin-top: 10px;
	margin-left: 150px;
	font-weight: bold;
	font-family:sourcesans-regular, sans-serif;
	font-weight: bold;
   	font-size: 25px;
	color: #2C38B3;
	text-align: left;

}
#subject{
    margin-left: 20px;
    margin-top: 100px;
    width: 300px;
    float: left;
}
#subject hgroup h1{
    font-weight: bold;
    font-family:sourcesans-regular, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #2C38B3;
    text-align: left;
}

fieldset {
    padding: 30px;
    margin:0;
    border: 0;
    min-width: 0;
}
fieldset {
	background: #F7F3F2;
    margin: 0 2px;
        margin-top: 10px;
        margin-right: 2px;
        margin-bottom: 0px;
        margin-left: 2px;
    padding: 0.35em 0.625em 0.75em;
        padding-top: 0.35em;
        padding-right: 0.625em;
        padding-bottom: 0.75em;
        padding-left: 0.625em;
    border-radius: 5px;
    	-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}

label, strong {
    font-weight: 600;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}



}
.has-error .form-control {
    border-color: #a94442;
        border-top-color: rgb(169, 68, 66);
        border-right-color: rgb(169, 68, 66);
        border-bottom-color: rgb(169, 68, 66);
        border-left-color: rgb(169, 68, 66);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
div.control-group textarea {
    height: 100px;
}
textarea.form-control {
    height: auto;
}

.form-control {
    display: block;
    width: 90%;
    height: 34px;
    color: #fff;
    margin-left: 10px;
    padding: 6px 12px;
        padding-top: 6px;
        padding-right: 12px;
        padding-bottom: 6px;
        padding-left: 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: rgb(204, 204, 204);
        border-right-color: rgb(204, 204, 204);
        border-bottom-color: rgb(204, 204, 204);
        border-left-color: rgb(204, 204, 204);
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition-property: border-color, box-shadow;
        transition-duration: 0.15s, 0.15s;
        transition-timing-function: ease-in-out, ease-in-out;
        transition-delay: 0s, 0s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition-property: border-color, box-shadow;
        transition-duration: 0.15s, 0.15s;
        transition-timing-function: ease-in-out, ease-in-out;
        transition-delay: 0s, 0s;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        font-size-adjust: inherit;
        font-stretch: inherit;
        -x-system-font: none;
        font-feature-settings: inherit;
        font-language-override: inherit;
        font-kerning: inherit;
        font-synthesis: inherit;
        font-variant-alternates: inherit;
        font-variant-caps: inherit;
        font-variant-east-asian: inherit;
        font-variant-ligatures: inherit;
        font-variant-numeric: inherit;
        font-variant-position: inherit;
    margin: 0px;
}

* {
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
    box-sizing: border-box;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
        border-top-color: rgb(32, 77, 116);
        border-right-color: rgb(32, 77, 116);
        border-bottom-color: rgb(32, 77, 116);
        border-left-color: rgb(32, 77, 116);
}
.btn:hover, .btn:focus, .btn.focus {
    color: #333333;
    text-decoration: none;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
}
.btn-primary {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
        border-top-color: rgb(46, 109, 164);
        border-right-color: rgb(46, 109, 164);
        border-bottom-color: rgb(46, 109, 164);
        border-left-color: rgb(46, 109, 164);
}
.btn {
    display: inline-block;
    margin: 10px 0px 0px 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    white-space: nowrap;
    padding: 6px 12px;
        padding-top: 6px;
        padding-right: 12px;
        padding-bottom: 6px;
        padding-left: 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    -webkit-user-select: none;
        -moz-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
        overflow-x: visible;
        overflow-y: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        font-size-adjust: inherit;
        font-stretch: inherit;
        -x-system-font: none;
        font-feature-settings: inherit;
        font-language-override: inherit;
        font-kerning: inherit;
        font-synthesis: inherit;
        font-variant-alternates: inherit;
        font-variant-caps: inherit;
        font-variant-east-asian: inherit;
        font-variant-ligatures: inherit;
        font-variant-numeric: inherit;
        font-variant-position: inherit;
    margin: 0;
}




/*-----Page Contact-----*/
.page_contact{
    font-size: 30px;
    font-family:sourcesans-regular, sans-serif;
    color: #093861;
    padding-left: 120px;

}


