<ul class="boxes-services clearfix">
	<li> 
		<a href="http://www.shinywindowcleaninglondon.co.uk/window-cleaning/" title="Residential
		Window Cleaning"> 
			<strong>Residential</strong>
			<span class="title-service">Window Cleaning</span> <span class="img standard">&nbsp;</span> 
		</a>
	</li>
	<li>
		 <a href="http://www.shinywindowcleaninglondon.co.uk/commercial-window-cleaning/" title="Commercial
		 Window Cleaning"> 
		 	<strong>Commercial</strong> 
		 	<span class="title-service">Window Cleaning</span> 
		 	<span class="img commercial">&nbsp;</span> 
		 </a>
	</li>

	<li> 
		<a href="http://www.shinywindowcleaninglondon.co.uk/conservatory-window-cleaning/" title="Conservatory
		Window Cleaning"> 
		<strong>Conservatory</strong> 
		<span class="title-service">Window Cleaning</span>
		<span class="img conservatory">&nbsp;</span> 
		</a>
	</li>

	<li> 
		<a href="http://www.shinywindowcleaninglondon.co.uk/gutter-cleaning/" title="Gutter
		Cleaning"> 
		<strong>Gutter</strong>
		<span class="title-service">Cleaning</span> 
		<span class="img gutter">&nbsp;</span> </a>
	</li>

	</ul>