

/*-----Estilos Generales-----*/

body{
	background: #E6DFE0;
	font-family: Arial, Helvetica,Sans-serif;
}

a{	text-decoration: none;color: white;
}

/*-----main-----*/



/*-----service-----*/

#cont_service{
	width: 100%;
	text-align: justify;
	
}

#cont_service div{
	padding-right: 10px;
}

.title{

	padding-top: 30px;
	text-align: center;	
	word-spacing: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #0D1A99;
	font-size: 30px;
	font-weight: bolder;

}




.thumb{
	width: 500px;
	height: 250px;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;

}
.thumb1{
	width: 660px;
	height: 400px;
	padding-top: 30px;
	margin-left: 80px;
}


#pharrafo  {
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 30px;
	color: #333;


}
#roof_phar hgroup img{
	margin-bottom: 30px;
}


/*-----request-----*/



.thumbquote{
	
	width: 140px;
	height: 150px;

	cursor: pointer;
	position: fixed;
	margin-left:-30px;
	bottom: 120px;


}
/*-----Areas-----*/




/*-----Aside-----*/


/*-----Header-----*/