/*-----Estilos Generales-----*/

body{
	background: #E6DFE0;
	font-family: Arial, Helvetica,Sans-serif;
}

a{	text-decoration: none;color: white;
}

#cont_service{
	width: 100%;
	text-align: justify;
	
}

#cont_service div{
	padding-right: 10px;
}
#areas{
	width: 100%;
	
	
}
#areas div{

	width: 120px;

	float: left;
}

#areas div hgroup h2{
	padding-top: 30px;
	padding-left: 120px;
	padding-bottom: 20px;
	text-align: center;	
	word-spacing: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #0D1A99;
	font-size: 30px;
	font-weight: bolder;
	background: red;

}

#areas div hgroup p{
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 300px;
	color: #333;
}

.area{
	font-size: 15px;
	margin-top: 30px;
}