/*-----Estilos Generales-----*/

body{
	background: #E6DFE0;
	font-family: Arial, Helvetica,Sans-serif;
}

a{	text-decoration: none;color: white;
}

#cont_service{
	width: 100%;
	text-align: justify;
	
}

/*-----parrafo1-----*/

#price{
	margin-top: 20px;
}

#parrafo0{
	padding: 15px 0px 15px 0px;
	
	margin-bottom: 20px;

}
#parrafo0 hgroup h2{
	padding: 15px 0px 15px 0px;
}

#parrafo1{
		margin-bottom: 20px;
		
	
}
#parrafo1 div hgroup{
	width: 65%;
	float: left;
	margin-right: 20px;
	box-shadow: 0px 2px 0px #000;
		-moz-box-shadow: 0px 2px 0px #000;
		-webkit-box-shadow: 0px 2px 0px #000;
	padding-bottom: 20px;
}
#parrafo1 div hgroup h2{
	padding: 15px 0px 15px 0px;

}



/*-----parrafo2-----*/


#parrafo2{
		margin-bottom: 20px;
	
}
#parrafo2 div hgroup{
	width: 65%;
	float: left;
	margin-right: 20px;
	box-shadow: 0px 2px 0px #000;
		-moz-box-shadow: 0px 2px 0px #000;
		-webkit-box-shadow: 0px 2px 0px #000;
	padding-bottom: 20px

}
#parrafo2 div hgroup h2{
	padding: 15px 0px 15px 0px;

}

/*-----parrafo3-----*/


#parrafo3{
		margin-bottom: 20px;
	
}
#parrafo3 div hgroup{
	width: 65%;
	float: left;
	margin-right: 20px;

	box-shadow: 0px 2px 0px #000;
		-moz-box-shadow: 0px 2px 0px #000;
		-webkit-box-shadow: 0px 2px 0px #000;
	padding-bottom: 20px
}
#parrafo3 div hgroup h2{
	padding: 15px 0px 15px 0px;

}

/*-----parrafo4-----*/

#parrafo4{
		margin-bottom: 20px;
	
}
#parrafo4 div hgroup{
	width: 65%;
	float: left;
	margin-right: 20px;

	box-shadow: 0px 2px 0px #000;
		-moz-box-shadow: 0px 2px 0px #000;
		-webkit-box-shadow: 0px 2px 0px #000;
	padding-bottom: 20px
}
#parrafo4 div hgroup h2{
	padding: 15px 0px 15px 0px;

}

/*-----parrafo5-----*/

#parrafo5{
		margin-bottom: 20px;
	
}
#parrafo5 div hgroup{
	width: 65%;
	float: left;
	margin-right: 20px;

	box-shadow: 0px 2px 0px #000;
		-moz-box-shadow: 0px 2px 0px #000;
		-webkit-box-shadow: 0px 2px 0px #000;
	padding-bottom: 20px
}
#parrafo5 div hgroup h2{
	padding: 15px 0px 15px 0px;

}

/*-----parrafo6-----*/

#parrafo6{
		margin-bottom: 20px;
	
}
#parrafo6 div hgroup{
	width: 65%;
	float: left;
	margin-right: 20px;

	box-shadow: 0px 2px 0px #000;
		-moz-box-shadow: 0px 2px 0px #000;
		-webkit-box-shadow: 0px 2px 0px #000;
	padding-bottom: 20px
}
#parrafo6 div hgroup h2{
	padding: 15px 0px 15px 0px;

}

/*-----parrafo7-----*/

#parrafo7{
		margin-bottom: 20px;
	
}
#parrafo7 div hgroup{
	width: 65%;
	float: left;
	margin-right: 20px;

	box-shadow: 0px 2px 0px #000;
		-moz-box-shadow: 0px 2px 0px #000;
		-webkit-box-shadow: 0px 2px 0px #000;
	padding-bottom: 20px
}
#parrafo7 div hgroup h2{
	padding: 15px 0px 15px 0px;

}

/*-----parrafo8-----*/

#parrafo8{
		margin-bottom: 20px;
	
}
#parrafo8 div hgroup{
	width: 65%;
	float: left;
	margin-right: 20px;

	box-shadow: 0px 2px 0px #000;
		-moz-box-shadow: 0px 2px 0px #000;
		-webkit-box-shadow: 0px 2px 0px #000;
	padding-bottom: 20px
}
#parrafo8 div hgroup h2{
	padding: 15px 0px 15px 0px;

}

/*-----parrafo9-----*/

#parrafo9{
		margin-bottom: 20px;
	
}
#parrafo9 div hgroup{
	width: 60%;
	float: left;
	margin-right: 20px;

	box-shadow: 0px 2px 0px #000;
		-moz-box-shadow: 0px 2px 0px #000;
		-webkit-box-shadow: 0px 2px 0px #000;
	padding-bottom: 20px
}
#parrafo9 div hgroup h2{
	padding: 15px 0px 15px 0px;

}
#areas div hgroup h2{
	padding-top: 30px;
	padding-left: 120px;
	padding-bottom: 20px;
	text-align: center;	
	word-spacing: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #0D1A99;
	font-size: 30px;
	font-weight: bolder;
	background: red;

}

#areas div hgroup p{
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 300px;
	color: #333;
}

.area{
	font-size: 15px;
	margin-top: 30px;
}