/*-----Estilos Generales-----*/

body{
	background: #E6DFE0;
	font-family: Arial, Helvetica,Sans-serif;
}

a{	text-decoration: none;color: white;
}

#cont_service{
	width: 100%;
	text-align: justify;
	
}

#cont_service div{
	padding-right: 10px;
}
#areas{
	width: 100%;
	
	
}


#areas div hgroup h2{
	padding-top: 30px;
	padding-left: 100px;
	padding-bottom: 20px;
	text-align: center;	
	word-spacing: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #0D1A99;
	font-size: 30px;
	font-weight: bolder;
	
}

#areas div hgroup p{
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 30px;
	color: #333;
}

#zona{
	width: 100px;
	margin-right: 30px;
	float: left;
	font-weight: bolder;


}

.area{
	font-size: 15px;
	margin-top: 30px;
}

#areas div img{
	margin-top: 30px;
	margin-bottom: 60px;
	
}
#question p{
	padding-top: 30px;
	padding-left: 100px;
	padding-bottom: 20px;
	text-align: center;	
	word-spacing: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #0D1A99;
	font-size: 30px;
	font-weight: bolder;
}